.chat
  .header
    .header__group
      group
      .header__group__member 
        Member : 
        =current_user.name
    .header__group-edit
      = link_to "#" do
        Edit

  .message
    .message__info
      .message__info__user-name ima
        
      .message__info__date 1/1
        
    .message__text こんにちは

  .footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "footer__text", placeholder: ' type a message'
      .footer__form__mask
        = f.label :image, class: 'footer__form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'footer__send-button'
